extends layout.pug 
block content
    section#content 
      h2= text 
      if side === 'question'
        a(href=`?side=answer`) Answer
      else 
        a(href=`?side=question`) Question
      if hint 
        p 
          i Hint: #{hint}
